/*
Theme Name: Bostan
Theme URI: http://a-salah.com/
Description: Wordpress News Theme.
Version: 3.0
Author: Ahmad Salah
Author URI: http://a-salah.com/
License: GNU General Public License v2.0
License URI: http://www.gnu.org/licenses/gpl-2.0.html

Tags: translation-ready, two-columns, threaded-comments, custom-menu

*/
@charset "utf-8";
/* Don't modify the upper lines */
body {
    background-color: transparent;
    color: #888;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    overflow-y: scroll;
    font-size: 13px;
    line-height: 21px;
    background-color: #FDFDFD;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: 'fontello';
        src: url('framework/fontello/font/fontello.svg#fontello') format('svg');
        font-weight: normal;
        font-style: normal;
    }
}
@media screen and (min–moz-device-pixel-ratio:0) {
    @font-face {
        font-family: 'fontello';
        src: url('framework/fontello/font/fontello.svg#fontello') format('svg');
        font-weight: normal;
        font-style: normal;
    }
}
h1 {
    font-size: 28.5px;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 19.5px;
}
h4 {
    font-size: 15.5px;
}
h1, h2, h3, h4, h5, h6 {
    color: #333;
    font-weight: 600;	
}

.page-header p {color:#222;}

.testimonial_box p {
    color: #fff;	
}
.push_button_info h2 {
    font-size: 36px;
    color: #FFF;
    font-weight: bold;
}
strong {
    color: #4E4E4E;	
}
textarea {
    width: 100%;	
}

input,
textarea,
textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus{
    outline:0px !important;
    -webkit-appearance:none!important;
    box-shadow: none!important;
}

h1,h2,h3,h4,h5,h6, .logo, .below_header .navbar .nav > .active > a, .below_header .navbar .nav > .active > a:hover, .below_header .navbar .nav > .active > a:focus, .below_header .navbar .nav > li > a, .testimonial_box, .plan_title, .plan_price
{
    font-family: 'Open Sans', sans-serif;
}

a {
    color: #26bdef;
    -o-transition: all  0.15s ease-in;
    -webkit-transition: all  0.15s ease-in;
    -moz-transition: all  0.15s ease-in;
    transition: all  0.15s ease-in;	
}
a:hover {
    color: #65707b;
    text-decoration:none;	
}
a:focus {
    outline: none;
    outline-offset: 0;
}

input[type="submit"] {
    padding: 2px 20px 2px 20px;
    width: auto;
    border: none;
    display: inline-block;
    color: #FFF;
    background: #434343;
    text-decoration: none;
    -o-transition: background 0.25s ease-in;
    -webkit-transition: background 0.25s ease-in;
    -moz-transition: background 0.25s ease-in;
    transition: background 0.25s ease-in;
    vertical-align: middle;
    font-weight: 400;
    cursor: pointer;
    margin: 0 0px 20px;
    position: relative;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    line-height: 35px;
    font-size: 16px;
    background-color: #26bdef;
    -o-transition: all  0.15s ease-in;
    -webkit-transition: all  0.15s ease-in;
    -moz-transition: all  0.15s ease-in;
    transition: all  0.15s ease-in;
}

input[type="submit"]:hover {
    background-color: #2c2f31;
    color: #E2E2E2;
}

pre {
    background-color: #d6d6d6;
}

ul {
    margin: 0;
    padding: 0;
}
.navbar .nav>.active>a, .navbar .nav>.active>a:hover, .navbar .nav>.active>a:focus {
    color: #fff;
    text-shadow: none;
    text-decoration: none;
    background-color: #26bdef;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.dropdown-menu>li>a {
    color: #555;	
}

.accordion-heading .accordion-toggle {
}

.page_title_holder {
    background-color: #F8F8F8;
    padding: 10px 0;
    border-bottom: 1px solid #E9E9E9;
    border-top: 1px solid #EEE;
    padding: 25px;
}
.main_content {
    margin-top: 40px;
    margin-bottom: 40px;
}
.main_content.page_builder_content {
    margin-top: 0px;
    margin-bottom: 0px;
}

.page_title_holder  h1{
    margin-bottom: 0px;
    font-size: 18px;
    line-height: 38px;
    color: #666;
    font-weight: normal;
}

.breadcrumb {
    padding: 0;
    margin: 0 0 12px;
    list-style: none;
    background-color: transparent;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}


.meta_title {
    font-size: 12px;
    color: #6B6B6B;
}

.page-header{
    margin-top: 0;
    line-height: 24px!important;
    margin-bottom: 22px;
    color: #555;
    border-bottom: 1px solid #eee;
    text-transform: uppercase;
    font-weight: 600;
}

/* Downloaded from http://www.96down.com */

#portfolio_filter_options {
    margin-bottom: 30px;	
}
.page_header_title {
    border-bottom: 2px solid #26BDEF;
    padding-bottom: 7px;
}
.single-project .portfolio_section_title .page_header_title {
    border-bottom: 2px solid #26BDEF;
    padding-bottom: 9px;
}


.widget_container .page_header_title {
    border-bottom: 4px solid #26BDEF;
    padding-bottom: 10px;	
}

.site_footer .widget_container .page_header_title {
    border-bottom: 2px solid #26BDEF;
    padding-bottom: 7px;	
}

a.button {
    padding: 6px 34px 7px 34px;
    width: auto;
    background: none;
    border: none;
    display: inline-block;
    color: white;
    background: #434343;
    text-decoration: none;
    -o-transition: background 0.25s ease-in;
    -webkit-transition: background 0.25s ease-in;
    -moz-transition: background 0.25s ease-in;
    transition: background 0.25s ease-in;
    border-radius: 3px;
    vertical-align: middle;
    font-weight: 400;
    cursor: pointer;
    margin: 0 0px 20px;
    position: relative;
}

img.alignright {
margin: 5px 0 5px 20px;
}
img.alignleft {
margin: 5px 20px 5px 0;
}

img.aligncenter {
margin: 5px auto;
}

.aligncenter {
display: block;
margin-left: auto;
margin-right: auto;
}

.alignleft {
float: left
}

.alignright {
float: right
}


a.button.blue {
    background: #0093D0;
    background: -moz-linear-gradient(top, #32A6D6, #0093D0);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#32A6D6), color-stop(100%,#0093D0));
    background: -webkit-linear-gradient(top, #32A6D6, #0093D0);
    background: -ms-linear-gradient(top, #32A6D6, #0093D0);
    background: -o-linear-gradient(top, #32A6D6, #0093D0);
    background: linear-gradient(top, #32A6D6, #0093D0);
}

.top_header {
    border-bottom: 1px solid #dadada;
    background-color: #ececec;
}
.top_header_tools_holder {
    background-color: #26bdef;
    padding: 4px 13px 9px;

}

.top_header_tools_holder .social_icons_list > li > a i {
    color: #fff!important
}

.main_menu_container {
    background: #f9f9f9;
    border-top: 1px solid #E9E9E9;
}


.main_navbar.navbar .nav>li {
    margin-left: 12px;
}

.main_navbar.navbar .nav>li:first-child {
}

.main_navbar.navbar .nav>li>a {
    float: none;
    padding: 10px 15px 10px;
    color: #222;
    text-decoration: none;
    text-shadow: 0 1px 0 #FFF;
    font-weight: bold;
    font-size: 16px;
}


.main_navbar.navbar .nav>li:last-child>a {

    padding-right: 0px;
}

.contact_info_line {
    margin-top: 7px;
    font-size: 11px;
    letter-spacing: 0.3px;
    color: #7A7A7A;
    margin-bottom: 7px;
}

.contact_info_icon {
    margin-left: 0px;
    font-size: 14px;
}

.contact_info_item {
    margin-right: 10px;
    border-right: 1px solid #C0C0C0;
    padding-right: 15px;
}

.contact_info_item:last-child {
    margin-right: 0px;
    border-right:none;
    padding-right: 0px;
}

.social_icons_list {
    list-style: none;
}

.social_icons_list li {
    float: left;
    margin-left: 10px;
}

.social_icons_list li:first-child {
    margin-left: 0px;
}

.social_icons_list > li > a {
    font-size: 13px;
    margin: 0 3px;
}

.widget_container h3 {
    border-bottom: 4px solid #eee;
}

.widget_container > ul > li {
    margin-bottom: 12px;
    border-bottom: 1px solid #EBEBEB;
    padding-bottom: 12px;
}

.widget_container > ul > li > a {
    color: #555;	
}

.widget_container > ul > li > a:hover {
    color: #0088cc;	
}


.site_secondary_footer .social_icons_list > li > a {
    width: 20px;
    height: 20px;
    color: #FFF;
    padding: 4px 1px 4px 7px;
    font-size: 16px;
}

.icon-twitter {
    color: #369AD5;
}

.icon-facebook {
    color: #365AB4;
}

.counter_icon.facebook_counter_icon .icon-facebook {
    color: #fff;
}

.icon-google-plus {
    color: #C52615;
}
.icon-linkedin {
    color: #75CAFE;
}

.icon-rss.top_menu_icon {
    color: #F96C12;
}

.social_icons_list > li > a:hover i {
    color: #FFF;
}
.thumbnails>li {
    margin-bottom: 40px;	
}
.header_items_line {
    margin: 3px 0;
}

.below_header {
    padding: 0 0 20px;
    background-color: #fdfdfd;
}

.logo {
    font-size: 18px;
    float: left;
    padding-right: 28px;
}

.logo h1 {
    font-size: 44px;
    margin-bottom: 0;
    line-height: 30px;
    color: #222;
    margin-top: 0;
}

.logo span {
    margin-top: 8px;
    display: block;
}

.logo a {
    color: #26bdef;
}

.main_nav {
    float: right;
}

.main_nav .nav {
    margin-right: 0;
}

.main_navbar {
    margin-top: 22px;
    width: auto!important;
    margin-bottom: 0;
}

.mobile.primary_menu.visible-phone.visible-tablet.pull-right {
    margin-top: 40px;
}

.below_header .navbar .nav > .active > a, .below_header .navbar .nav > .active > a:hover, .below_header .navbar .nav > .active > a:focus, .below_header .navbar .nav > li > a {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    background-color: transparent;
    text-shadow: none;
    color: #777;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 13px;

}

.below_header .navbar .nav > .current-menu-item > a {
    color: #26bdef;
}

.new_section {
    margin-top: 40px;
}

.another_projects.new_section {
    background-color: #FAFAFA;
    padding: 30px;
    margin-bottom: -40px;
    border-top: 1px solid #DDD;
}

.another_projects.new_section .portfolio_info {
    background-color: #fff;
}
.another_projects.new_section .portfolio_item:hover .portfolio_info {
    background-color: #f1f1f1;
}

.another_projects.new_section .page_header_title {
    border-bottom: 2px solid #26BDEF;
    padding-bottom: 7px;
}
.aq_block {

}
.new_section:first-child {
    margin-top: 0;	
}

.service_icon {
    text-align: center;
    margin: 0 auto 10px;
    width: 90px;
    height: 90px;
    padding-bottom: 16px;
}


.site_middle_content {	

}

.service_icon a {
    font-size: 38px;
    color: #26bdef;
    margin-top: 21px;
    display: block;
}

.services_info h3 {
    text-align: center;
    color: #555;
    margin: 6px 0;
    font-weight: 600;
}
.portfolio_overlay {
    position: absolute;
    top: 0;
    line-height: 0;
    width: 100%;
    height: 100%;
    background-color: #333;
    opacity: 0.0;
    zoom: 1;
    filter: alpha(opacity=0);
    -o-transition: all  0.15s ease-in;
    -webkit-transition: all  0.15s ease-in;
    -moz-transition: all  0.15s ease-in;
    transition: all  0.15s ease-in;	
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}
.portfolio_thumbnail img {
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;	
}

.portfolio_item:hover .portfolio_thumbnail .center-bar a {
    opacity: 1;	
}

.portfolio_item:hover .portfolio_overlay {
    opacity: 0.5;
    filter: alpha(opacity=50);	
}

.services_info p {
    text-align: center;
}

.push_button {
    background-color: #26BDEF;
    color: #FFF;
}

.push_button .container {
    position: relative;
}

.push_button_image {
    position: absolute;
    bottom: 0;
    left: 40px;
}
.push_button_button {
    padding-top: 20px;
    float: right;
    height: 100%;
    border-left: 1px solid #FFF;
    padding-left: 40px;
    margin-left: 40px;
}
.push_button_button.for_mobile {
    display: none;	
}
.push_button_content {
    margin: 45px 40px;
    position: relative;
}

.push_button_info p {
    font-size: 14px;	
}

.portfolio_item {
    position: relative;
    padding: 0 2px;
}

.portfolio_info {
    padding: 21px 0px;
    text-align: center;
    line-height: 22px;
    border-bottom: 1px solid #EEE;
    -o-transition: all  0.15s ease-in;
    -webkit-transition: all  0.15s ease-in;
    -moz-transition: all  0.15s ease-in;
    transition: all  0.15s ease-in;	
    background-color: #FAFAFA;

}

.portfolio_item:hover .portfolio_info {
    border-bottom: 1px solid #26BDEF;
    background-color: #F8F8F8;	
}

.portfolio_info h5 {
    margin-top: 0;
    margin-bottom: 6px;
    font-weight: bold;
}
.portfolio_time {
    margin-top: 10px;
}

.portfolio_info .portfolio_category a {
    color: #999;
}

.navbar-inner {
    min-height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #f6f6f6;
    background-image: none;
    background-repeat: repeat-x;
    filter: none;
    border:none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow:none;
    box-shadow:none;
}

.thumbnail.portfolio_item {
    padding: 10px;
}
.thumbnail.team_item {
    padding: 10px;
}
.thumbnail {
    display: block;
    line-height: 20px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    padding: 2px;
    background-color: #f6f6f6;}

.accordion-toggle , .accordion-toggle:hover {
    border: 1px solid #DDD;
    display: block;
    background-image: linear-gradient(bottom, #F7F7F7 0%, #FFF 100%);
    background-image: -o-linear-gradient(bottom, #F7F7F7 0%, #FFF 100%);
    background-image: -moz-linear-gradient(bottom, #F7F7F7 0%, #FFF 100%);
    background-image: -webkit-linear-gradient(bottom, #F7F7F7 0%, #FFF 100%);
    background-image: -ms-linear-gradient(bottom, #F7F7F7 0%, #FFF 100%);
    background-color: #F9F9F9;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 1px 1px 0px rgba(180, 180, 180, 0.1);
    -moz-box-shadow: 0px 1px 1px 0px rgba(180, 180, 180, 0.1);
    box-shadow: 0px 1px 1px 0px rgba(180, 180, 180, 0.1);
    font-weight: 700;
    color: #777;
}

.span12.service_item {
}

.accordion-inner {
    border-top: 0;
}

.accordion-group {
    border: 0;
}

.blog_thumbnail img {
    border-bottom: 4px solid #26bdef;
}

.blog_format {
    float: left;
    background-color: #26bdef;
    padding: 10px 20px 12px;
    color: #fff;
    font-size: 20px;
}

.blog_text {
    overflow: hidden;
    padding-left: 12px;
}

.blog_title h4 {
    margin-bottom: 4px;
}

.blog_post {
    margin-bottom: 30px;
}

.blog_post:last-child {
    margin-bottom: 0px;
}

.new_content {
    margin-bottom: 30px;
}

.new_content:last-child {
    margin-bottom: 0;
}

.site_footer {
    background-color: #2B2B2B;
    color: #fff;
    padding: 40px 0 10px;
    font-size: 12px;
    position: relative;
}


.site_footer .page-header {
    border-bottom: 0;
}

.site_footer .thumbnail {
    border: 1px solid #535353;
}


.site_secondary_footer {
    background-color: #222;;
    color: #BBB;
    border-top: 1px solid #3c3c3c;
    font-size: 12px;

}

.secondary_footer_container {
    padding: 24px 0;
}

.widget_container .tweet_list li:first-child {
    padding-top: 0;
}

.testimonial_box {
    background-color: #666;
    padding: 8px 20px 10px;
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
    position: relative;
    margin-top: 24px;
}

.testimonials_quotation {
    font-size: 100px;
    font-weight: bold;
    position: absolute;
}

.testimonial_box::after {
    content: '';
    display: inline-block;
    border-left: 26px solid transparent;
    border-top: 26px solid #666;
    position: absolute;
    bottom: -26px;
    left: 40px;
}

.testimonial_url {
    color: #65707b;	
}

.testimonials_author {
    margin-top: 26px;
}

.testimonial_name {
    font-weight: bold;
    font-size: 18px;
}

.testimonial_job {
    margin-left: 4px;
}

.flexslider {
    border: 0;
    margin: 0;
    background: transparent;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -moz-box-shadow: none;
    padding: 0;
}

.flexslider .slides > li {
    position: relative;
}

.slider_caption {
    position: absolute;
    top: 100px;
}

.control_slider, #control_slider {
    position: absolute;
    bottom: 0;
    left: 0;
}

.slider_caption h2 {
    background: #fff;
    float: left;
    clear: both;
    color: #26bdef;
    padding: 10px 20px;

}

.slider_caption p {
    float: left;
    clear: both;
    background-color: #26bdef;
    color: #fff;
    padding: 15px 20px;
    max-width: 60%;
}

.clients_list > li img {
    float:left;
}

.clients_list > li {
    float: left;
    padding: 10px 0px;
    margin: 0 30px 0 0;
}

.clients_list {
    list-style: none;
    margin: 0;
    padding: 0 10px;
    height: 100%;
    display: block;
}

.company_profile {
    width: 53px;
    float: left;
    margin: 0px 12px 0 0;
}

.post_thumbnail {
    float: left;
    margin-right: 10px;
}

.widget_container .post_thumbnail img {
    width: 40px;
    height: 40px;
}

.post_title h6 {
    margin-top: 0;
}

.post_row {
    clear: both;
    margin-bottom: 16px;
}
.carousel {
    position: relative;
    margin-bottom: 0px;
}
.list_carousel.responsive {
    width: auto;
    margin-left: 0;
}

.list_carousel {
    position: relative;
}

.list_carousel li {
    display: block;
    float: left;
    font-size: 13px;
    color: #686868;
    line-height: 22px;
}

.list_carousel ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
}

.testimonials_author .thumbnail {
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    border-radius: 500px;
    float: left;
    width: 50px;
    margin-right: 10px;
}
.tetimonials_namejob {
    margin-top: 40px;
    float: left;
}

.cars_arrow_control {
    float: right;
    margin-top: 3px;
    margin-left: 8px;
    color: #FFF;
    font-size: 18px;
    background-color: #616161;
    width: 24px;
    height: 24px;
    display: block;
    text-align: center;
    line-height: 23px;
    border-radius: 3px;
    cursor: pointer;
}

.cars_arrow_control:hover {
    background-color: #26bdef;

}

.cars_nav_control {
    float: right;
    font-size: 18px;
    margin-top: 3px;
    cursor: pointer;
    width: 12px;
    -o-transition: all 0.1s ease-in;
    -webkit-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
    color: #fff!important;
    width: 35px;
    background-color: #ACACAC;
    height: 35px;
    border-radius: 58px;
    -moz-border-radius: 58px;
    -webkit-border-radius: 58px;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    text-align: center;
    line-height: 34px;
}

.cars_nav_control:hover {
    background-color: #26bdef;

}

.right_nav_arrow {

    margin-left: 8px;
    border-top-left-radius: 0;
    -moz-border-top-left-radius: 0;
    -webkit-border-top-left-radius: 0;
}
.right_nav_arrow:hover {
    border-top-left-radius: 58px;
    -moz-border-top-left-radius: 58px;
    -webkit-border-top-left-radius: 58px;
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}

.left_nav_arrow {

    margin-right: 8px;
    border-top-right-radius: 0;
    -moz-border-top-right-radius: 0;
    -webkit-border-top-right-radius: 0;
}

.left_nav_arrow:hover {
    border-top-right-radius: 58px;
    -moz-border-top-right-radius: 58px;
    -webkit-border-top-right-radius: 58px;
    transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
}

.cars_portfolio_control {
    float: right;
    font-size: 20px;
    margin-top: 4px;
    margin-left: 4px;
    margin-right: 4px;
    cursor: pointer;
    -o-transition: all 0.1s ease-in;
    -webkit-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
    color: #D3D3D3;
}


.portfolio_icon {
    position: absolute;
    top: 50%;
    left: 50%;
    background: #038FAA;
    color: white;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    border-radius: 500px;
    padding: 15px;
    font-size: 30px;
}

.icon-spin {
    -moz-animation: spin 1s infinite linear;
    -o-animation: spin 1s infinite linear;
    -webkit-animation: spin 1s infinite linear;
    animation: spin 1s infinite linear;
}

.portfolio_thumbnail {
    position:relative;
    zoom:1;
    display:block;
}

.portfolio_icon.lefted-icon {

}

.portfolio_thumbnail .center-bar {
    height: 32px;
    position: absolute;
    top: 50%;
    margin-top: -16px;
    text-align: center;
    width: 100%;
}

.portfolio_thumbnail .center-bar a {
    display: inline-block;
    margin: 0 3px;
    color: white;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    border-radius: 500px;
    padding: 14px 10px;
    font-size: 16px;
    width: 26px;
    border: 3px solid #26BDEF;
    opacity: 0;
    zoom: 1;
    filter: alpha(opacity=0);
    background-color: #26bdef;;
    -o-transition: all  0.15s ease-in;
    -webkit-transition: all  0.15s ease-in;
    -moz-transition: all  0.15s ease-in;
    transition: all  0.15s ease-in;	
}

.portfolio_item:hover .portfolio_thumbnail .center-bar a {
    opacity: 1;
    filter: alpha(opacity=100);	
}

.he-view,.he-zoom
{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    overflow:hidden;
    visibility:hidden;
}

.he-view-show
{
    visibility:visible;
}

.a0,.a1,.a2,.a3,.a4,.a5,.a6,.a7{
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: .6s;
    -moz-animation-duration: .6s;
    -ms-animation-duration: .6s;
    -o-animation-duration: .6s;
    animation-duration: .6s;
}
.a1
{
    -webkit-animation-delay: .2s;
    -moz-animation-delay: .2s;
    -o-animation-delay: .2s;
    animation-delay: .2s;
}
.a2
{
    -webkit-animation-delay: .4s;
    -moz-animation-delay: .4s;
    -o-animation-delay: .4s;
    animation-delay: .4s;
}


@-webkit-keyframes elasticInDown {
    0% {
    opacity: 0;
    -webkit-transform: translateY(-1000px);
    -webkit-animation-timing-function:ease-in-out;
}
60% {
    opacity: 1;
    -webkit-transform: translateY(30px);
    -webkit-animation-timing-function:ease-in-out;
}
80% {
    -webkit-transform: translateY(-10px);
    -webkit-animation-timing-function:ease-in-out;
}
100% {
    -webkit-transform: translateY(0);
}
}
@-moz-keyframes elasticInDown {
    0% {
    opacity: 0;
    -moz-transform: translateY(-1000px);
    -moz-animation-timing-function:ease-in-out;
}
60% {
    opacity: 1;
    -moz-transform: translateY(30px);
    -moz-animation-timing-function:ease-in-out;
}
80% {
    -moz-transform: translateY(-10px);
    -moz-animation-timing-function:ease-in-out;
}
100% {
    -moz-transform: translateY(0);
}
}
@-o-keyframes elasticInDown {
    0% {
    opacity: 0;
    -o-transform: translateY(-1000px);
    -o-animation-timing-function:ease-in-out;
}
60% {
    opacity: 1;
    -o-transform: translateY(30px);
    -o-animation-timing-function:ease-in-out;
}
80% {
    -o-transform: translateY(-10px);
    -o-animation-timing-function:ease-in-out;
}
100% {
    -o-transform: translateY(0);
}
}
@keyframes elasticInDown {
    0% {
    opacity: 0;
    transform: translateY(-1000px);
    animation-timing-function:ease-in-out;
}
60% {
    opacity: 1;
    transform: translateY(30px);
    animation-timing-function:ease-in-out;
}
80% {
    transform: translateY(-10px);
    animation-timing-function:ease-in-out;
}
100% {
    transform: translateY(0);
}
}
.elasticInDown {
    -webkit-animation-name: elasticInDown;
    -moz-animation-name: elasticInDown;
    -o-animation-name: elasticInDown;
    animation-name: elasticInDown;
}

@-webkit-keyframes elasticInUp {
    0% {
    opacity: 0;
    -webkit-transform: translateY(1000px);
    -webkit-animation-timing-function:ease-in-out;
}
60% {
    opacity: 1;
    -webkit-transform: translateY(-30px);
    -webkit-animation-timing-function:ease-in-out;
}
80% {
    -webkit-transform: translateY(10px);
    -webkit-animation-timing-function:ease-in-out;
}
100% {
    -webkit-transform: translateY(0);
}
}
@-moz-keyframes elasticInUp {
    0% {
    opacity: 0;
    -moz-transform: translateY(1000px);
    -moz-animation-timing-function:ease-in-out;
}
60% {
    opacity: 1;
    -moz-transform: translateY(-30px);
    -moz-animation-timing-function:ease-in-out;
}
80% {
    -moz-transform: translateY(10px);
    -moz-animation-timing-function:ease-in-out;
}
100% {
    -moz-transform: translateY(0);
}
}
@-o-keyframes elasticInUp {
    0% {
    opacity: 0;
    -o-transform: translateY(1000px);
    -o-animation-timing-function:ease-in-out;
}
60% {
    opacity: 1;
    -o-transform: translateY(-30px);
    -o-animation-timing-function:ease-in-out;
}
80% {
    -o-transform: translateY(10px);
    -o-animation-timing-function:ease-in-out;
}
100% {
    -o-transform: translateY(0);
}
}
@keyframes elasticInUp {
    0% {
    opacity: 0;
    transform: translateY(1000px);
    animation-timing-function:ease-in-out;
}
60% {
    opacity: 1;
    transform: translateY(-30px);
    animation-timing-function:ease-in-out;
}
80% {
    transform: translateY(10px);
    animation-timing-function:ease-in-out;
}
100% {
    transform: translateY(0);
}
}
.elasticInUp {
    -webkit-animation-name: elasticInUp;
    -moz-animation-name: elasticInUp;
    -o-animation-name: elasticInUp;
    animation-name: elasticInUp;
}

@-webkit-keyframes fadeIn {
    0% {
    opacity: 0;
}
100% {
    opacity:1;
}
}
@-moz-keyframes fadeIn {
    0% {
    opacity: 0;
}
100% {
    opacity:1;
}
}
@-o-keyframes fadeIn {
    0% {
    opacity: 0;
}
100% {
    opacity:1;
}
}
@keyframes fadeIn {
    0% {
    opacity: 0;
}
100% {
    opacity:1;
}
}
.fadeIn {
    -webkit-animation-name: fadeIn;
    -moz-animation-name: fadeIn;
    -o-animation-name: fadeIn;
    animation-name: fadeIn;
}

.social_share {
    clear: both;
    margin-top: 20px;
    border-top: 1px solid #ECECEC;
    padding-top: 20px;

}

.socialbutton {
    float: left;
    margin-right: 0;
}

.social_share .fbshare {
    margin-right: 24px;
    float: none;
    margin-bottom: 6px;
}

.pinit.socialbutton {
    margin-top: -3px;
}

.blog_banner {
    margin-bottom: 30px;
}
.blog_info {
    margin-bottom: 20px;
}

.single.single-post .blog_info {
    margin-bottom: 0px;
}
.blog_type {
    float: left;
    background-color: #26bdef;
    color: white;
    padding: 9px 15px;
    font-size: 14px;
    margin-right: 16px;
}
.meta_text {
    font-size: 12px;
    font-style: italic;
    color: #999;
}
.meta_icon{
    font-size: 14px;
    color: #c9c9c9;
}
.meta_item {
    margin-right: 12px;
    color: #aaa;
    font-size: 13px;
}
.meta_item a {
    color: #888;	
}
.portfolio_details_item a {
    color: #888;
}
.blog_heading {
    overflow: hidden;
}

.blog_title h3 {
    margin: 0;
    line-height: 22px;
}
.blog_page .blog_description {
    color: #999;
    margin-top: 14px;
}

.post_date_thumbnail {
    float: left;
    width: 140px;
    padding: 0px 0;
    text-align: center;
}
.post_date_thumbnail img {
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;	
}
.post_details {
    margin-left: 160px;
}

.the_blog_post {
    margin-bottom: 40px;
}

.blog_day, .blog_month {
    display: block;
}

.blog_month {
    background-color: #26bdef;
    color: white;
    padding: 4px 0;
}

.blog_day {
    padding: 8px 0;
    background-color: #f5f5f5;
}

.accordion-inner {
    padding: 10px;
}

.the_portfolio_list_li_div {
    display: block;
    float: left;
    margin-right: 5px;
    max-width: 320px;
}

.site_footer h4 {
    font-size: 16px;
    line-height: 20px;
}

.blog_page.blog_posts .blog_post {
    padding-bottom: 40px;
    margin-bottom: 40px;
}


.blog_page.blog_posts .blog_post:last-child {
    border-bottom: 0;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.blog_title a {
    color: #333;
}

.blog_info_box {
    border-top: 1px solid #F3F3F3;
    margin-top: 10px;
    border-bottom: 1px solid #F3F3F3;
    overflow: hidden;
}

.blog_page .blog_info_box {
}
.post_list.itswidget .post_info {
    margin-left: 60px;
}

.post_list.itswidget .meta_item {
    font-size: 11px;
}

.post_list.itswidget .post_title h6 {
    margin-bottom: 0;
}

meta_info
.sticky , .gallery-caption, .bypostauthor {}

.single_blog .blog_info_box {
    margin-bottom: 30px;
}

.blog_box_item {
    float: left;
    margin-top: 7px;
    padding-right: 12px;
    margin-bottom: 6px;
}

.blog_box_item:last-child {
    border-right: 0;
}

.blog_box_item.post_type_box_item {
    color: #26BDEF;
    padding: 24px 19px 21px;
    margin: 0;
    margin-right: 20px;
    border-radius: 3px;
    font-size: 20px;
    border: 2px solid #26BDEF;
}
.blog_post_tags {
    margin-top: 19px;
}
.blog_post_tags a {
    font-size: 12px!important;
    padding: 4px 8px;
    display: block;
    float: left;
    margin-right: 4px;
    margin-bottom: 7px;
    background-color: #EEE;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    color: #999;
}

.author_image {
    float: left;
    margin-right: 20px;
}

.author_name h4 {
    margin-top: 0;
}

.author_info_box {
    border: 1px solid #eee;
    padding: 10px;
    background: #FAFAFA;
}

.author_info {
    overflow: hidden;
}

.author_social_profiles li {
    float: left;
    margin-right: 10px;	
    list-style: none;
}


.commenter_photo {
    width: 80px;
    height: 80px;
}

.comment_body {

}
.comment_body .media-heading {
    margin: 0 0 0px;
}

.commenter img {
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    border-radius: 500px;
    width: 70px;	
}

ul.children {
    margin-top: 36px;
}

ul.children ul.children  {
    margin-top: 20px;
}

ul.children .commenter img {
    width: 50px;	

}

ul.children .comment_body {
    padding: 10px;
    min-height: 60px;
    background-color: #FAFAFA;
}

.the_comment.comment {
    border-bottom: 1px dashed #e1e1e1;
    padding-bottom: 30px;
}

ul.children .the_comment.comment {
    border-bottom: none;
    padding-bottom: 0;
}

.comment_body p {
    margin-bottom: 0;
    line-height: 20px;
    font-size: 12px;
}

.commenter {
    position: relative;
}


.commenter_name {
    font-weight: bold;
    font-size: 16px;
    margin-top: 5px;
}

.media>.pull-left {
    margin-right: 22px;
}

.comment_info {
    font-size: 11px;
    font-style: italic;
    color: #919191;
    line-height: 0;
    margin-bottom: 18px;
}

.comment_info  a {
    color: #919191;
}

a.comment-reply-link {
    color: #26bdef;	
}

.the_comment {
    margin-top: 30px;
}

.the_comment:first-child {
    margin-top: 0px;
}

.comment_form {
    margin-top: 20px;	
}

.text_banner {
    background-color: #26bdef;
    color: #FFF;
    padding: 10px 20px;
}

.text_banner h3 {
    font-weight: normal;
    color: #FFF;	
}

.text_banner h2 {
    color: #FFF;	
}

.widget_container h3 {
    margin-top: 0;	
    line-height: 20px;
    margin-bottom: 22px;
    color: #333;
    font-size: 16px;
}

.site_footer .widget_container h3 {
    color: #fff;
}

.menu_icon {
    color: #E2E2E2;
    clear: both;
    display: block;
    font-size: 28px;
    text-align: center;
    margin-bottom: 6px;	
    -o-transition: all  0.15s ease-in;
    -webkit-transition: all  0.15s ease-in;
    -moz-transition: all  0.15s ease-in;
    transition: all  0.15s ease-in;	
}

.main_navbar.navbar .nav>li:hover .menu_icon {
    color: #26bdef;	
    -o-transition: all  0.15s ease-in;
    -webkit-transition: all  0.15s ease-in;
    -moz-transition: all  0.15s ease-in;
    transition: all  0.15s ease-in;	
}
.below_header .navbar .nav > li > a:hover, .navbar .nav li.dropdown.open>.dropdown-toggle, .navbar .nav li.dropdown.active>.dropdown-toggle, .navbar .nav li.dropdown.open.active>.dropdown-toggle {
    background-color:transparent;
    color: #222;
}

.navbar .nav li.dropdown>.dropdown-toggle .caret {
    border-top-color: #26bdef;
    border-bottom-color: #26bdef;
    display: none;
}

.navbar .nav li.dropdown.open>.dropdown-toggle .caret, .navbar .nav li.dropdown.active>.dropdown-toggle .caret, .navbar .nav li.dropdown.open.active>.dropdown-toggle .caret {
    border-top-color: #ddd;
    border-bottom-color: #ddd;
}

.dropdown-menu li>a:hover, .dropdown-menu li>a:focus, .dropdown-submenu:hover>a {
    text-decoration: none;
    color: #26bdef;
    -o-transition: all 0.15s ease-in;
    -webkit-transition: all  0.15s ease-in;
    -moz-transition: all  0.15s ease-in;
    transition: all  0.15s ease-in;
    background-color:transparent;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff1d181f', endColorstr='#ff100d11', GradientType=0);
}

.widget_container  li{
    list-style: none;
    line-height: 20px;
    margin-bottom: 12px;
}
.widget_container  li:last-child{
    margin-bottom: 0px;
}

.widget_container .twitter_list  li::before {
    content:no-open-quote;
    font-family: FontAwesome;
    font-weight: normal;
    font-size: 14px;
    text-align: left;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    display: block;
    margin-right: 0px;
    float: left;
    overflow: hidden;
    height: 30px;
    color: #CCC;
}

.widget_container .twitter_list  li{
    list-style: none;
    line-height: 20px;
    margin-bottom: 2px;
}

twitter_list 
.widget_title h4 {
    margin-top: 0;	
}

.team_social_bar {
    padding-top: 16px;
    text-align: center;
}

.team_social_bar .team_social_list{
    display: inline-block;
}

.team_social_bar .team_social_list li{
    margin-right: 12px;
}

.team_social_bar .team_social_list i{
    font-size: 18px;
}

.block-aq_column_block > .row-fluid.aq-block {
    margin-bottom: 20px;	
}

.block-aq_column_block > .row-fluid.aq-block:last-child {
    margin-bottom: 0px;	
}

.inner_container.thumbnail {
    line-height: 12px;	
}

.accordion-heading a {	
}

.accordion-heading .accordion-toggle {
    display: block;
    padding: 10px 16px;
}

.thumbnail {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;	
}

.accordion-toggle, .accordion-toggle:hover {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;	
}

.widget_container {
    margin-bottom:32px;
}
.widget_container:last-child {
    margin-bottom: 0px;
}

.site_footer .widget_container {
    margin-top:14px;	
    margin-bottom: 0px;
}

.accordion .toggle-group {
    margin-bottom: 8px;	
}

.toggle-group {
    margin-bottom: 8px;	
}

.accordion .toggle-group:last-child {
    margin-bottom: 0px;	
}

.nav>li>a:hover {
    text-decoration: none;
    background-color:transparent;
}

.post-tooltip {
    border-bottom: 1px #666 dotted;
    color: #26bdef;
}

.clients_list .post-tooltip {
    color: #26bdef;
}	

a.thumbnail:hover {
    border-color: #999;
}

.site_footer a.thumbnail:hover {
    border-color: #1D181F;
}

.read_more_link.read_more_button {
    margin-top: 14px;
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    background-color: #FFF;
    color: #CBCBCB;
    font-size: 12px;
    margin: 0 0 12px 0;
    padding: 8px 16px 8px 14px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border-color: #E1E1E1;
    height: auto;
}


.divider_icon {
    color: #26bdef	
}
.input-prepend .add-on:first-child, .input-prepend .btn:first-child {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.input-append .add-on, .input-prepend .add-on {
    text-shadow: 0 1px 0 #FFF;
    background-color: #26bdef;
    border: 1px solid #26bdef;
    color: #FFF;
}

.search_text {
    border-left: 0!important;
    border-color: #F1F1F1!important;
    height: 36px!important;
}

.search_addon {
    height: 25px!important;
    padding-top: 5px!important;
}

.widget_container .post_row {
    margin-bottom: 12px;
    border-bottom: 1px solid #EBEBEB;
    padding-bottom: 12px;	
}

.site_footer .widget_container > ul > li > a {
color: #26bdef;
}

.site_footer .widget_container > ul > li {
border-bottom: 1px solid #3a3a3a;
padding-bottom: 12px;
}

.tweet_name {
margin-right: 6px;
} 
.site_footer .widget_container .post_row {
    border-bottom: 1px solid #3a3a3a;
}

.site_footer .post_list.itswidget .post_title h6 {
color: #fff;
}

.widget_container > ul > li:last-child {
margin-bottom: 0;
border-bottom: none;
padding-bottom: 0;
}

.tagcloud a {
    font-size: 12px!important;
    padding: 5px 8px;
    display: block;
    float: left;
    margin-right: 4px;
    margin-bottom: 7px;
    background-color: #EEE;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    color: #999;
}

.site_footer .tagcloud a {
    border: 1px solid #555;
    background-color: #555;
    color: #ccc;
}

.widget_container h4 {
    font-size: 16px;
    line-height: 20px;
}	

.blog_main_content {
    padding-right: 22px;
    border-right: 1px solid #f1f1f1;	
}

.pagination {
    margin-bottom: 0;
    border-top: 1px solid #EEE;
    padding-top: 20px;	
}

.comment_form form {
    margin-bottom: 0;	
}

.comment_form form input[type="submit"], p.form-submit {
    margin-bottom: 0;	
}

.single_blog .blog_description {
    line-height: 24px;	
}

.counter_users_word {
    font-size: 12px;
    padding-top: 4px;
    display: block;
    line-height: 1em;
    padding-left: 60px;
    color: #999;
}

.counter_number {
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 0;
    display: block;
    padding-left: 60px;
    padding-top: 0;
}
.social_counter {
    margin-bottom: 8px;
}
.counter_icon {
    padding: 0;
    margin: 0;
    height: 42px;
    width: 42px;
    line-height: 42px;
    text-align: center;
    float: left;
    font-size: 19px;
    border-radius: 2px;
    background-repeat: repeat-x;
    background-position: 0 0;
    border-style: solid;
    border-width: 1px;
    color: #FFF;
}

.counter_icon.facebook_counter_icon {
    background-color: #4C66A4;
}

.counter_icon.twitter_counter_icon {
    background-color: #46D4FE;
}

.counter_icon.rss_counter_icon {
    background-color: #FFA133;
}

.page-header a {
    color: #333;	
}

.pp_social .facebook {
    width: 100px;
}

.accordion-group {
    margin-bottom: 6px;
    padding: 2px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}

.side_content.pull-left {
    margin-left: 0;
    margin-right: 2.127659574468085%;
}

.blog_main_content.pull-right {
    padding-right: 0;
    border-right:none;
    padding-left: 22px;
    border-left: 1px solid #F1F1F1;
}

.google_map_container .inner_container.thumbnail {
    border: none;
    padding: 0;
}

.container.new_section .google_map_container .inner_container.thumbnail {
    border: 1px solid #DDD;
    padding: 4px;
}

.wpcf7 textarea {
    margin-left: 0;
    display: inline-block;
    float: none;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}



.pullquote {
    color: #ADADAD;
    width: 250px;
    margin: 20px 0;
}

blockquote {
    color: #ADADAD;
    margin: 20px 0;
}

.pullquote.text-right {
    float: right;
    padding: 0px 20px 0px 20px;
    border-right: 4px solid #E6E6E6;
}

.pullquote.text-left {
    float: left;
    padding: 0px 20px 0px 20px;
    border-left: 4px solid #E6E6E6;
}

.copyr_text {
    text-align: right;	
    margin-bottom: 10px;
    color: #CCC;
}


.tweets_ticker_section {
    background-color: #26bdef;
    color: #fff;
    border-top: 8px solid #2D3032;
    padding: 8px;
}
.tweet_list {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow-y: hidden;

}

.tweet_list li {
    overflow-y: hidden;
    overflow-x: hidden;
    padding: 12px 0;
    list-style-type: none;
}

.tweets_ticker_section .tweet_list li a {
    color: #fff;
}

.tweet_list .tweet_avatar {
    padding-right: .5em; float: left;
}

.tweet_list .tweet_avatar img {
    vertical-align: middle;
}

#twitterticker {
    height: 4em;
    overflow-y: hidden;
    position: relative;
}
#twitterticker ul.tweet_list {
    position: absolute;
    width: 100%;
}
#twitterticker ul.tweet_list li {
    height: 4em;
}

.quick-flickr-item img {
    width: 69px;
    float: left;
    margin: 2px;
    height: 69px;
}


.asalah_list ul {

    margin-left: 1px;
    list-style: none;
}

.nolist ul {
    margin-left: 1px;
    list-style: none;
}

.asalah_list li::before {
    font-family: fontello;
    font-weight: normal;
    font-size: 14px;
    width: 1.8em;
    text-align: left;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    color: #26bdef;
}

.list-star ul ::before{
    content: '\e825';
}
.list-check ul ::before{
    content: "\e833";
}
.list-right ul ::before{
    content: "\eb03";
}
.list-circle ul ::before{
    content: "\e90a";
}
.list-finish ul ::before{
    content: "\e907";
}
.list-empty ul ::before{
    content: "\e908";
}
.list-hand ul ::before{
    content: '\e8ba';
}

.nav-tabs>li>a {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin-right: 0;
}

.vertical_tab .nav-tabs {
    border-bottom: none;
    float: left;
    margin-bottom: 20px;
}

.vertical_tab  .nav-tabs>li {
    float: none;
    margin-bottom: 0;
    margin-right: -1px;	
}

.vertical_tab  .nav-tabs>li>a {
    padding-top: 11px;
    padding-bottom: 11px;
    line-height: 20px;
    border-right: 1px solid #e2e2e2;
    background: -moz-linear-gradient(left,  rgba(254,255,255,0) 0%, rgba(249,249,249,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(254,255,255,0)), color-stop(100%,rgba(249,249,249,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(254,255,255,0) 0%,rgba(249,249,249,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(254,255,255,0) 0%,rgba(249,249,249,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(254,255,255,0) 0%,rgba(249,249,249,1) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(254,255,255,0) 0%,rgba(249,249,249,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00feffff', endColorstr='#f9f9f9',GradientType=1 ); /* IE6-9 */
    border-left: 3px solid #FFF;
    color: #898989;
}

.vertical_tab  .nav-tabs>.active>a, .vertical_tab  .nav-tabs>.active>a:hover, .vertical_tab  .nav-tabs>.active>a:focus, .vertical_tab .nav-tabs>li>a:hover {
    color: #26bdef;
    background: #FFF;
    border: 1px solid #e2e2e2;
    border-right-color: rgba(0, 0, 0, 0);
    cursor: default;	
    border-left: 3px solid #26bdef;
}

.vertical_tab .nav-tabs>li>a:hover {
    border-left: 3px solid #f7f7f7;
}

.vertical_tab .tab-content {
    padding-left: 20px;
    border-left: 1px solid #E2E2E2;
}

.horizontal_tab  .nav-tabs>li>a {
    border-top: 3px solid #FFF;
    background: -moz-linear-gradient(top,  rgba(254,255,255,0) 0%, rgba(249,249,249,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,255,255,0)), color-stop(100%,rgba(249,249,249,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(254,255,255,0) 0%,rgba(249,249,249,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(254,255,255,0) 0%,rgba(249,249,249,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(254,255,255,0) 0%,rgba(249,249,249,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(254,255,255,0) 0%,rgba(249,249,249,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00feffff', endColorstr='#f9f9f9',GradientType=0 ); /* IE6-9 */
    color: #898989;
}

.horizontal_tab  .nav-tabs>.active>a, .horizontal_tab  .nav-tabs>.active>a:hover, .horizontal_tab  .nav-tabs>.active>a:focus, .horizontal_tab .nav-tabs>li>a:hover {
    color: #26bdef;
    background: #FFF;
    border: 1px solid #e2e2e2;
    border-bottom-color: rgba(0, 0, 0, 0);
    cursor: default;	
    border-top: 3px solid #26bdef;
}

.horizontal_tab .nav-tabs>li>a:hover {
    border-top: 3px solid #f7f7f7;
}



.dropdown-menu {

    border-bottom: 4px solid #26bdef;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.dropdown-menu > li {
    padding: 5px 0;
    margin: 0 0px;
}

.sidebar-nav {
    padding: 9px 0;
}


.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
    margin-top: 0;
}

.navbar .sub-menu:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    top: 10px;
}
.navbar .sub-menu:after {
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: 10px;
    top: 11px;
    left: -6px;
}

.default_logo {
    display: block;
}
.retina_logo {
    display: none;	
}

.full_width_project_details .portfolio_section_title .page-header {
    margin-top: 16px;
}



::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    /*-webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.2);*/
    -webkit-border-radius: 0;
    border-radius: 0;
    -moz-border-radius: 0;
    background-color: #ddd;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: #26bdef;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    -moz-border-radius: 1px;
    /*-webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.6);*/
}

::-webkit-scrollbar-thumb:window-inactive {
}

.cars_portfolio_control {
    padding-bottom: 0px!important;
    border-bottom: none!important;
    color: #26bdef;
}








.loader_container {
    background-color: #f7f7f7;
    position: relative;
    padding: 20px;
    color:#fff;
}

.loader_container  .widget_container h3 {
    color: #fff;	
    margin-bottom: 10px;
}

.loader_container  strong {
    color: #fff;	
}

.sliding_item {
    margin-top: 6px;
    margin-left: 16px;
    position: relative;
    cursor: pointer;
    float: left;
}

.sliding_arrow {
    position: relative;
}

.sliding_arrow::after {
    content: '';
    display:inline-block;
    border-left: 10px solid transparent;
    border-bottom: 10px solid #26bdef;
    position: absolute;
    bottom: -28px;
    right: 4px;
}

.social {
    float: right;
    list-style: none;
}

#slide_social .social {
    margin: 16px 0;	
}

.social li {
    display: inline-block;
    text-indent: -999em;
}

.social li a {
    line-height: 28px;
    display: block;
    width: 32px;
    height: 32px;
    margin-left: 5px;
    background-image: url(img/social.png);
    background-repeat: no-repeat;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #2C2C2C;
    -webkit-transition: border-radius 0.3s ease-out;
    -moz-transition: border-radius 0.3s ease-out;
    -ms-transition: border-radius 0.3s ease-out;
    -o-transition: border-radius 0.3s ease-out;
    transition: border-radius 0.3s ease-out;
    border-top-right-radius: 0px;
}

.social li:first-child a {
    margin-left: 0;
}

.social li a:hover {
    border-top-right-radius: 16px;

}

.social li a.twitter {
    background-position: -32px 0;
}

.social li a.linkedin {
    background-position: -192px 0;
}

.social li a.flickr {
    background-position: -64px 0;
}

.social li a.lastfm {
    background-position: -160px 0;
}

.social li a.vimeo {
    background-position: -224px 0;
}

#slide_search .search {
    margin: 7px 0 0;	
}

.slide_content .btn {
    background-color: hsl(0, 0%, 16%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5b5b5b", endColorstr="#282828");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#5b5b5b), to(#282828));
    background-image: -moz-linear-gradient(top, #5b5b5b, #282828);
    background-image: -ms-linear-gradient(top, #5b5b5b, #282828);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5b5b5b), color-stop(100%, #282828));
    background-image: -webkit-linear-gradient(top, #5b5b5b, #282828);
    background-image: -o-linear-gradient(top, #5b5b5b, #282828);
    background-image: linear-gradient(#5b5b5b, #282828);
    border-color: #282828 #282828 hsl(0, 0%, 11%);
    color: #fff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
    -webkit-font-smoothing: antialiased;	
}

.slider_items_container .sliding_icon {
    font-size: 14px;
    color: #333;
}
.hidden {
    display: none;
}

.clients_list > li a {
    border: 1px solid #eee;
    -o-transition: all  0.15s ease-in;
    -webkit-transition: all  0.15s ease-in;
    -moz-transition: all  0.15s ease-in;
    transition: all  0.15s ease-in;	
    padding: 6px;
}

.clients_list > li a:hover {
    border: 1px solid #26bdef;
}

.page_title_holder .page_info {
    float: left;	
}

.page_nav {
    margin-top: 20px;
}

.site_footer .search_text {
    border: 1px solid #666!important;
    background-color: transparent;
    padding: 18px 7px;
}

.search_text {
    border: 1px solid #DDD!important;
    background-color: rgba(0, 0, 0, 0);
    padding: 18px 7px;	
}

.team_social_bar .team_social_list li::before {
    content: none;	
}

.current-menu-item > a, .current_page_item > a, .current-menu-ancestor > a, .current-menu-parent > a, .current_page_parent > a , .current_page_ancestor > a {
    color: #777!important;
    text-shadow:none!important;
}


.progress { height: 30px; }

.portfolio_skills_content .progress {
    height: 20px;
}
.fullwidth_aq_map_block, .fullwidth_aq_rev_block, .fullwidth_aq_action_block {
    padding-left: 0;
    padding-right: 0;
}

.fullwidth_aq_rev_block {
    border-bottom: 1px solid #d0d0d0;	
}
/* calendar widget */
.widget_calendar {float: left;}
#wp-calendar {width: 100%; }
#wp-calendar caption { text-align: right; color: #333; font-size: 12px; margin-top: 10px; margin-bottom: 15px; }
#wp-calendar thead { font-size: 10px; }
#wp-calendar thead th { padding-bottom: 10px; }
#wp-calendar tbody { color: #aaa; }
#wp-calendar tbody td { background: #f5f5f5; border: 1px solid #fff; text-align: center; padding:8px;}
#wp-calendar tbody td:hover { background: #fff; }
#wp-calendar tbody .pad { background: none; }
#wp-calendar tfoot #next { font-size: 10px; text-transform: uppercase; text-align: right; }
#wp-calendar tfoot #prev { font-size: 10px; text-transform: uppercase; padding-top: 10px; }

.gototop {
    display: none;	
}
@media (min-width: 767px) {
    .fixed_header {
        position: fixed;
        padding: 12px 0;
        z-index: 999;
        top: 0;
        border-bottom: 1px solid #DDD;
        width: 100%;
        opacity: 0.95
    }

    .fixed_header .logo img {
        height: 50px;
        width: auto;	
    }

    .fixed_header .main_navbar {
        margin-top: 8px!important;	
    }


    .fixed_header .mobile.primary_menu.visible-phone.visible-tablet.pull-right {
        margin-top: 8px;
    }


    .fixed_header .menu_icon {
        display: none;	
    }

    .fixed_header, .below_header {
        -o-transition: font-size font-weight height border margin padding 0.5s ease-in;
        -webkit-transition: font-size 0.5s ease-in, font-weight 0.5s ease-in, height 0.5s ease-in, border 0.5s ease-in, margin 0.5s ease-in, padding 0.5s ease-in;
        -moz-transition: font-size 0.5s ease-in, font-weight 0.5s ease-in, height 0.5s ease-in, border 0.5s ease-in, margin 0.5s ease-in, padding 0.5s ease-in, 0.5s ease-in;
        transition: font-size 0.5s ease-in, font-weight 0.5s ease-in, height 0.5s ease-in, border 0.5s ease-in, margin 0.5s ease-in, padding 0.5s ease-in;
    }

    .gototop {
        margin-top: 11px!important;
        margin-left: 24px;
        background-color: #26BDEF;
        color: #FFF;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        height: 31px;
        width: 33px;
        text-align: center;
        cursor: pointer;
        line-height: 30px;
    }

    .fixed_header .gototop {
        display: block;
    }

    .fixed_header .logo {
        margin-top: 0!important;
    }

    .admin-bar .fixed_header {
        top: 28px;
    }

}

.shadow_separator {
    height: 12px;
    background-image:url(img/bottom_shadow.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 960px;
}

.header_container {
    position: relative;	
}
.header_shadow_separator {
    height: 12px;
    background-image: url(img/bottom_shadow.png);
    background-repeat: no-repeat;
    background-position: top center;
    position: absolute;
    bottom: -10px;
    z-index: 999;
    background-size: 960px;
}

.footer_shadow_separator {
    height: 12px;
    background-image: url(img/bottom_shadow.png);
    background-repeat: no-repeat;
    background-position: top center;
    position: absolute;
    top: -1px;
    z-index: 999;
    background-size: 960px;
}

.fixed_header .header_shadow_separator {
    display: none;	
}

.hi-icon-wrap {
    text-align: center;
    margin: 0 auto;
}

.hi-icon {
    display: inline-block;
    font-size: 0px;
    cursor: pointer;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    z-index: 1;
    color: #26BDEF;
}

.hi-icon:after {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content: '';
    -webkit-box-sizing: content-box; 
    -moz-box-sizing: content-box; 
    box-sizing: content-box;
}

.hi-icon:before {
    line-height: 97px;
}


/* Effect 1 */
.hi-icon-effect-1 .hi-icon {
    background: rgba(255,255,255,0.1);
    -webkit-transition: background 0.2s, color 0.2s;
    -moz-transition: background 0.2s, color 0.2s;
    transition: background 0.2s, color 0.2s;
}

.hi-icon-effect-1 .hi-icon:after {
    top: -7px;
    left: -7px;
    padding: 7px;
    box-shadow: 0 0 0 4px #fff;
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
    -webkit-transform: scale(.8);
    -moz-transition: -moz-transform 0.2s, opacity 0.2s;
    -moz-transform: scale(.8);
    -ms-transform: scale(.8);
    transition: transform 0.2s, opacity 0.2s;
    transform: scale(.8);
    opacity: 0;
}


/* Effect 3 */
.hi-icon-effect-3 .hi-icon {
    box-shadow: 0 0 0 4px #26BDEF;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    transition: color 0.3s;
}

.hi-icon-effect-3 .hi-icon:after {
    top: -2px;
    left: -2px;
    padding: 2px;
    z-index: -1;
    background-color: #26BDEF;
    -webkit-transition: -webkit-transform 0.2s, opacity 0.3s;
    -moz-transition: -moz-transform 0.2s, opacity 0.3s;
    transition: transform 0.2s, opacity 0.3s;
}

/* Effect 3a */
.hi-icon-effect-3a .hi-icon {
    color: #fff;
}

.no-touch .hi-icon-effect-3a .hi-icon:hover {
    color: #26BDEF;
}

.no-touch .hi-icon-effect-3a .hi-icon:hover:after {
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    opacity: 0;
}

.read_more_link.read_more_button a {
    color: #FFF;
}

.read_more_link.read_more_button:hover a {
    color: #333;
}
/* General button style (reset) */
.btn {
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 25px 80px;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    text-shadow: none;
}

.btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

/* Button 3 */
.btn-3 {
    background-color: #26bdef;
    color: #fff;
}

.btn-3:hover {
    background-color: #26bdef;
}

.btn-3:active {
    background-color: #26bdef;
    top: 2px;
}

.btn-3:before {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    line-height: 3;
    width: 60px;
}

/* Button 3e */
.btn-3e {
    padding: 10px 60px 10px 20px;
    overflow: hidden;
}

.btn-3e:before {
    left: auto;
    right: 0px;
    z-index: 2;
}

.btn-3e:after {
    width: 30%;
    height: 200%;
    background: rgba(255,255,255,0.1);
    z-index: 1;
    right: 0;
    top: 0;
    margin: -5px 0 0 -5px;
    -webkit-transform-origin: 0 0;
    -webkit-transform: rotate(-20deg);
    -moz-transform-origin: 0 0;
    -moz-transform: rotate(-20deg);
    -ms-transform-origin: 0 0;
    -ms-transform: rotate(-20deg);
    transform-origin: 0 0;
    transform: rotate(-20deg);
}

.btn-3e:hover:after {
    width: 40%;
}


.main_content aside .widget_nav_menu ul > li {

    margin-bottom: 1px;
    background-color: #f5f5f5;
}

.main_content aside .widget_nav_menu ul > li > a {
    color: #929292;
    display: inline-block;
    width: 92%;
    padding: 14px 4%;
}

.main_content aside .widget_nav_menu ul > li:hover {
    background-color: #DDD;
}

.main_content aside .widget_nav_menu ul > li.current_page_item {
    background-color: #26bdef;
}

.main_content aside .widget_nav_menu ul > li.current_page_item > a {
    color: #fff!important;
}

.service_icon_image {
    text-align: center;
    padding-bottom: 16px;
}
