<link rel="stylesheet" id="asalah_bootstrap_css-css" href="dist/css/bootstrap.css" type="text/css" media="all">
<footer class="container-fluid site_footer body_width">
	<div class="container">
		<div class="row ">
			<div class="col-md-3">
				<h3><span class="page_header_title"></span></h3>
				<div class="textwidget" style="width: 120px; height: 138px ;margin-top: 48px">
					<a href="Home.html">
						<img src="dist/image/logo.jpg" alt="Bostan"/></a>
					
				</div>
			</div>	
			<div class="col-md-3 ">
				<h3 class="page-header"><span class="page_header_title">Navigtion</span></h3>
				<div class="textwidget">
					<div id="footp">
					<p><a href="Home.html"> Home </p></a>	
					<p><a href="Aboutus.html"> About us </p></a>
					<p><a href="products.php"> Products </p></a>
					<p><a href="general.php"> General Inquiries </p></a>
					<p><a href="contactus.php"> Contact Us </p></a>
					</div>
				</div>
				</div>
			<div class="col-md-3 ">
				<h3 class="page-header"><span class="page_header_title">Contact Info</span></h3>
				<div class="textwidget">
				
					<p>
						<div class="footdiv">
						  <span class="fa icon-phone fa-2x footicon" style=" vertical-align: left;"></span>
						  <span class="my-text">02132444126</span>
						</div>
					</p>
					
						
					<p>
						<div class="footdiv">
						  <span class="fa icon-mail fa-2x footicon" style=" vertical-align: left;"></span>
						  <span class="my-text">info@unifabgroup.com</span>
						</div>
					</p>
					<p>	
						<div class="footdiv">
						  <span class="fa icon-clock fa-2x footicon" style=" vertical-align: left;"></span>
						  <span class="my-text">Mon - Sat: 9:00 - 21:00</span>
						</div>	
					</p>
					<p>	
						<div class="footdiv">
						  <span class="fa icon-location fa-2x footicon" style=" vertical-align: left;"></span>
						  <span class="my-text">Shop # 6,7 Faisal Market Karachi</span>
						</div>
					</p>
						
			
				</div>
			</div>	
			<div class="col-md-3 ">
				<h3 class="page-header"><span class="page_header_title">Subscribe</span></h3>
				<div class="textwidget">
					<div class ="input-group">
						
							<input type="email" class="form-control" placeholder="Email *" name="email" id="sub_field_email" style="height: 34px;width: 194px">
							<span class="input-group-btn">
							
								<button class="btn btn-primary" type="button" style="background-color:#26bdef;">Send</button>
								
							</span>
							
					</div>		
				
					
				</div>
			</div>
			</div>
			
		</div>
	</div>
</footer>
<div class="container-fluid site_secondary_footer body_width">
	<div class="container secondary_footer_container">
		<div class="row-fluid">
        	<div class="pull-left">
				                        	All rights reserved, Unifab Group 2017
			</div>
		</div>
	</div>
    
    
</div>