<header class="header_container body_width">

<!-- start below header -->
<div id="below_header" class="container-fluid body_width below_header headerissticky">
	<div class="container">
		<div class="row-fluid"><div id="below_header_span" class="span12">
			<div class="row-fluid">
				<!--div class="span12"-->
					<div class="col-md-3 col-md-offset-1">
					<div class="logo ">
					<a href="#" title="Bostan">
						<img class="default_logo" src="dist/image/logov2.jpg" alt="Bostan"/>
						
						<h1><strong class="hidden">Bostan</strong></h1>
					</a>
					</div>
					</div>
					<div class="col-md-7 col-md-offset-1">
					<div id="gototop" title="Scroll To Top" class="gototop pull-right">
						<i class="icon-up-open"></i>
					</div>
					<div class="mobile_menu_button">
						<i class="icon-menu"></i>
						<p class="mobile_menu_text">Menu</p>
					</div>
					<nav class="span navbar main_navbar  desktop_menu">
						<div class="main_nav">
						<ul id="menu-main" class="nav" style="padding-top: 17px;">
							<li id="menu-item-23790" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home current-menu-ancestor current-menu-parent menu-item-has-children menu-item-23790 dropdown active">
								<a href="home.html" data-hover="dropdown" class="dropdown-toggle">
									<span class="menu_icon">
										<i class="icon-home"></i>
									</span>Home <!--i class="icon-down-open"></i-->
								</a>

							</li>
							<li id="menu-item-23807" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-23807 dropdown">
								<a href="Aboutus.html" data-hover="dropdown" class="dropdown-toggle">
									<span class="menu_icon">
										<i class="icon-info"></i>
									</span>About Us <i class="icon-down-open"></i>
								</a>
							</li>
							<li id="menu-item-23808" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-23808 dropdown">
									<a href="products.php" data-hover="dropdown" class="dropdown-toggle">
										<span class="menu_icon">
											<i class="icon-th"></i>
										</span>Products
									<i class="icon-down-open"></i>
								</a>
							</li>
							<li id="menu-item-23791" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-23791 dropdown">
								<a href="general.php" data-hover="dropdown" class="dropdown-toggle">
									<span class="menu_icon">
										<i class="icon-paper-plane"></i>
									</span>General Inquiries 
									<i class="icon-down-open"></i>
								</a>
							</li>
							<li id="menu-item-23890" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-23890">
								<style>
								.widgets_nav.hidden_carousel {
									top: -3000px;
									} 
									.open .hidden_carousel {
										top:100%;
									}
								</style>
							</li>
							<li id="menu-item-23809" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-23809">
								<a href="contactus.php">
									<span class="menu_icon"><i class="icon-mail-alt"></i>
								</span>Contact Us
								</a>
							</li>
							</ul>
						</div>                                    
					</nav>
				<!--/div-->
				</div>
				</div>
			</div>
		</div>
	</div>
</div>



</header>