@media (max-width:979px){
.shadow_separator {
background-size: 724px;
}
.header_shadow_separator {
background-size: 724px;
}
}

@media (max-width: 767px) {
	
	.header_container {
		text-align: center;	
	}
	.logo {
		margin: 0 auto;
float: none;	
padding-right: 28px;
	}
	.push_button_image {
display: none!important;
}
.push_button_content {
margin: 20px!important;
}
	.mobile.primary_menu {
		margin-top: 20px;	
	}
	.blog_main_content {
		padding-right: 0;
		border-right: 0;	
	}
	.blog_main_content.pull-right {
		padding-left: 0;
		border-left: 0;
	}
	.side_content  {
		padding-top: 30px;
		clear: both;
	}
	.social_icons.pull-right {
		float: none;	
	}
	.social_icons_list {
		display: inline-block;
	}
	
.container-fluid {
margin-left: -20px!important;
margin-right: -20px!important;
padding-right: 20px;
padding-left: 20px;
}
.container-fluid.new_section.fullwidth_aq_rev_block, .container-fluid.new_section.fullwidth_aq_map_block {
	padding-right: 0;
padding-left: 0;
margin-top: -20px!important;
}
.flexslider {
padding: 0;
}

.aq-block {
margin-top: 20px;
}
.site_footer .widget_area {
	margin-top: 30px;	
}
.shadow_separator {
background-size: 100%;
}
.header_shadow_separator {
background-size: 100%;
}
.top_header_tools_holder.pull-right {
float: none;
clear: both;
margin-left: -20px;
margin-right: -20px;
padding: 6px 20px 2px;
}
.social_icons_list > li > a {
font-size: 16px;
}
.contact_info_line {
margin-bottom: 8px;
margin-top: 10px;
}
.mobile.primary_menu.visible-phone.visible-tablet.pull-right {
float: none;
}
.one_half, .one_third, .two_third, .three_fourth, .one_fourth, .one_fifth, .two_fifth, .three_fifth, .four_fifth, .one_sixth, .five_sixth {
margin-right: 0;
float: none;
width: 100%;
}
}

@media (max-width: 480px) {
    
	.push_button_button.for_desktop {
	display: none;	
}

.push_button_button.for_mobile {
	display: block;	
	border-left: 0;
margin-left: 0;
padding-left: 0;
float: none;
}
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
	.default_logo {
		display: none;
	}
	.retina_logo {
		display: block;	
	}
}